{% extends "layouts/base.html" %}
{% block content %}
<div class="container">

    <!-- Message Flashing -->
    {% include './partials/flash.html' %}
    <h1>{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {{ form.hidden_tag() }}
        <!-- name Field -->
        <div class="field mb-3">
            {{ form.name.label(class="label") }}
            {% if form.name.errors %}
            {{ form.name(class="input is-danger") }}
            {% for err in form.name.errors %}
            <div class="invalid-feedback">
                        <span class="form-text text-danger">
                            {{ err }}
                        </span>
            </div>
            {% endfor %}
            {% else %}
            {{ form.name(class="input is-primary") }}
            {% endif %}
        </div>

        <!-- description Field -->
        <div class="field mb-3">
            {{ form.description.label(class="label") }}
            {% if form.description.errors %}
            {{ form.description(class="input is-danger") }}
            {% for err in form.description.errors %}
            <div class="invalid-feedback">
                            <span class="form-text">
                                {{ err }}
                            </span>
            </div>
            {% endfor %}
            {% else %}
            {{ form.description(class="input is-primary") }}
            {% endif %}
        </div>

        <div class="file-field input-field">
            <div class="btn indigo darken-3">
                <span>{{ form.cover_file.label(style="color:white;") }}</span>
                {{ form.cover_file(class="file-input") }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            {% if form.cover_file.errors %}
            {% for error in form.cover_file.errors %}
            <span class="red-text">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>


        <div class="field buttons mb-3">
            {{ form.submit(class="btn indigo darken-3") }}
            <input type="reset" value="reset" class="btn red darken-3">
        </div>
    </form>
</div>

{% endblock %}