{% extends "layouts/base.html" %}
{% block content %}
<div class="container">

    <!-- Message Flashing -->
    {% include './partials/flash.html' %}
    <div class="section-lead mb-6">
        <h1>{{ title }}</h1>
        <p class="lead">This is a list of the available classes</p>
    </div>
    {% if classes %}
    <div class="row" style="margin: 40px 0;">
        {% for class in classes %}
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='cover_pics/' + class.cover_image) }}">
                    <span class="card-title">
                                    {{ class.class_name }}
                                </span>
                </div>
                <div class="card-content">
                    <p class="mt-4 mb-1"><strong>Taught By:</strong> {{ class.head.username }}</p>
                    <p class="mt-4 mb-1"><strong>Description:</strong><br> {{ class.description }}</p>
                    <p class="mt-4 mb-1"><strong>Created at:</strong></p>
                    <time>{{ class.date_created.strftime("%I:%M %p - %-d %B %Y") }}</time>
                    <p class="mt-4 mb-1"><strong>Members: </strong>{{ class.members.count() }}</p>
                </div>
                <div class="card-action">
                    {% if g.current_user.role != 'teacher' %}
                    {% if g.current_user.is_class_member(class) %}
                    <a href="{{ url_for('room.get_clsroom', cls_id=class.id) }}">Visit</a>
                    <a href="{{ url_for('room.classroom_actions', cls_id=class.id, action='leave') }}">Leave</a>
                    {% else %}
                    <!--<a href="{{ url_for('room.classroom_actions', cls_id=class.id, action='join') }}" disabled>Join</a>-->
                    {% endif %}
                    {% else %}
                    <a href="{{ url_for('room.get_clsroom', cls_id=class.id) }}">Visit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>There are no classrooms currently</p>
    {% endif %}
</div>

{% endblock %}